body {
  font-size: 120%;
  font-family: Arial;
}

button, input {
  font-size: 100%;
  font-family: Arial;
  margin: 5px;
}

table {
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.error {
  color: red;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
}

.total {
  font-size: 150%;
  text-decoration: underline;
}

.form {
  margin-top: 25px;
  width: 100%;
}

.transactions {
  text-align: left;
  max-height: 6500px;
  overflow: auto;
  width: 90%;
  margin: 0 auto;
}

/* updating css for mobile*/
@media only screen and (max-width: 600px) {
  body {
    font-size: 110%;
  }
  .total {
    font-size: 125%;
  }

  .transactions {
    max-height: 220px;
    width: 95%;
  }

 #myChart {
    height: 225px !important;
  }
}